/* Shared Related Styles */
/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,800&display=swap");

:root {
  --primary-color: #3a3a3a;
  --gray-50: #787885;
  --brand-purple-100: #f7f0ff;
  --primary-font-family: Poppins;
  --secondary-font-family: Inter;
  --primary-font-weight: 600;
  --secondary-font-weight: 700;
  --first-font: 1rem;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
}

.description {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: var(--first-font);
  font-weight: var(--primary-font-weight);
}

/* Navbar Section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title h2 {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: 1.25rem;
  font-weight: var(--secondary-font-weight);
  margin-left: 120px;
  margin-top: 87px;
}

.nav-menu ul {
  display: flex;
  margin-top: 96px;
  margin-right: 120px;
}

.nav-menu ul li {
  list-style: none;
  margin-right: 34px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: var(--first-font);
  font-weight: var(--primary-font-weight);
}

/* Banner Section Styles */

.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 120px;
}

.banner-title {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: 3.25rem;
  font-weight: var(--secondary-font-weight);
  width: 582px;
  height: 133px;
}
.banner-description {
  width: 505px;
  height: 61px;
}

.btn-primary {
  padding: 10px 24px;
  border-radius: 41px;
  background: #e02c6d;
  border: 0;
}

.fa-arrow-right {
  margin-left: 5px;
}

.banner-img {
  width: 475px;
  height: 475px;
  background-image: url("../images/Circle design.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 132px;
  border-radius: 475px;
  border: 3px solid #f1e4ff;
}

.main-camera {
  margin-top: 30px;
  width: 440px;
  height: 414px;
  margin-right: 165px;
}

/* Banner Footer Styles */

.banner-footer {
  display: flex;
  justify-content: space-evenly;
  margin: 69px 165px 100px;
}

/* Popular Collection Section Styles */
.collection-title {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: var(--first-font);
  font-weight: var(--primary-font-weight);
  text-align: center;
}

.card {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 329px);
  gap: 30px;
}

.items {
  padding: 14px;
  height: 476px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.item-des {
  width: 200px;
  color: var(--gray-50);
  font-family: var(--secondary-font-family);
  font-size: 14px;
  font-weight: var(--secondary-font-weight);
  letter-spacing: 0.252px;
  line-height: 143%;
}

/* Responsive Layout */
/* For Mobile Devices */
@media screen and (max-width: 360px) {
  nav {
    flex-direction: column;
  }
  .nav-title h2 {
    margin: 20px;
    font-size: 16px;
  }

  .nav-menu ul {
    margin: 5px;
  }

  .nav-menu ul li {
    margin-right: 10px;
  }

  .nav-menu ul li a {
    font-size: 12px;
  }
  /* Banner Section */
  .banner-section {
    flex-direction: column-reverse;
    margin: 0;
  }
  .banner-img {
    border-radius: 257px;
    /* border: 3px solid var(--brand-purple-100, #f1e4ff); */
    width: 257px;
    height: 257px;
    margin: 22px 51px 14px 52px;
  }

  .main-camera {
    margin: 51px 33px 16px 22px;
    width: 202px;
    height: 190px;
  }
  .banner {
    text-align: center;
  }

  .banner-title {
    font-size: 28px;
    width: 400px;
    height: 78px;
  }

  .banner-description {
    width: 321px;
    height: 65px;
    font-size: 14px;
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .banner-footer img {
    width: 22%;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .banner-footer {
    margin: 53px 0;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
    margin-top: 53px;
  }
}
